* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', sans-serif;
  scroll-behavior: smooth;
}

/* css related to navigation bar*/
nav {
  top: 0px;
  height: 80px;
  width: 100%;
  border-bottom: 1.5px solid #8dd9a1;
  display: flex;
  position: fixed;
  z-index: 2;
  background-color: white;
}

#logo {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  margin-left: 20px;
  color: #8f5ebd;
}

#title {
  padding-top: 27.5px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.4rem;
  background: transparent;
  font-family: 'Jetbrains Mono', monospace;
}

nav button {
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 75%;
  height: 50px;
  width: 80px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #fefefe;
  border: #fefefe;
  font-family: 'Jetbrains Mono', monospace;
}

nav button:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
/* css related to side navigation bar*/
.sidenav {
  top: 80px;
  width: 250px;
  position: fixed;
  z-index: 1;
  background: transparent;
  height: 100%;
  overflow-x: hidden;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
}

#side-title {
  margin-top: 10px;
  font-size: 1.8rem;
  text-align: center;
  font-family: 'Jetbrains Mono', monospace;
}

ul {
  margin-top: 20px;
}

li {
  padding: 5px;
  margin-left: 12.5%;
  list-style-type: none;
  vertical-align: middle;
}

li button {
  text-decoration: none;
  font-size: 1.0rem;
  color: black;
  border: transparent;
  background-color: transparent;
  border-radius: 3px;
  height: 40px;

}

li button:hover {
  color: #8f5ebd;
  cursor: pointer;
}

#link1 {
  color: aliceblue;
  background-color: #b360d6;
  border: 5px solid #b360d6;
  border-radius: 3px;
}

#link2 {
  color: aliceblue;
  background-color: #664280;
  border: 5px solid #664280;
  border-radius: 3px;
}

#link3 {
  color: aliceblue;
  background-color: #6b6bff;
  border: 5px solid #6b6bff;
  border-radius: 3px;
}

#link4 {
  color: aliceblue;
  background-color: #25a881;
  border: 5px solid #25a881;
  border-radius: 3px;
}

#link5 {
  color: aliceblue;
  background-color: #62a162;
  border: 5px solid #62a162;
  border-radius: 3px;
}

#link6 {
  color: aliceblue;
  background-color: #9aa34b;
  border: 5px solid #9aa34b;
  border-radius: 3px;
}

#link7 {
  color: aliceblue;
  background-color: #c2c24c;
  border: 5px solid #c2c24c;
  border-radius: 3px;
}

#link8 {
  color: aliceblue;
  background-color: #ff9c38;
  border: 5px solid #ff9c38;
  border-radius: 3px;
}

#link9 {
  color: aliceblue;
  background-color: #ff6338;
  border: 5px solid #ff6338;
  border-radius: 3px;
}

#link10 {
  color: aliceblue;
  background-color: #ff5252;
  border: 5px solid #ff5252;
  border-radius: 3px;
}

#invis {
  border: 5px solid white;
  color: white;
}

/* css related to main area*/
.main {
  margin-top: 95px;
  margin-left: 275px;
}

#box {
  background-color: whitesmoke;
  border-radius: 15px;
  width: 95%;
  height: 350px;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 15px;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}

.info {
  display: flex;
}

.infoTitle {
  font-family: 'Jetbrains Mono', monospace;
}
.infoText {
  margin-left: 15px;
  line-height: 1.5;
}

.thumbnail {
  width: 275px;
  height: 275px;
  border-radius: 5px;
}

.thumbnail:hover {
  transform: scale(1.05);
}

/* css related to modal*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

/* CSS related to the boxes and button interaction */

#coding {
  font-weight: 400;
  transition: all 0.35s ease;
}

#photography {
  font-weight: 400;
  transition: all 0.35s ease;
}

#hiking {
  font-weight: 400;
  transition: all 0.35s ease;
}

#math {
  font-weight: 400;
  transition: all 0.35s ease;
}

#chemistry {
  font-weight: 400;
  transition: all 0.35s ease;
}

#physics {
  font-weight: 400;
  transition: all 0.35s ease;
}

#audioEditing {
  font-weight: 400;
  transition: all 0.35s ease;
}

#videoEditing {
  font-weight: 400;
  transition: all 0.35s ease;
}

#piano {
  font-weight: 400;
  transition: all 0.35s ease;
}

#creativeWrtiting {
  font-weight: 400;
  transition: all 0.35s ease;
}

#all {
  font-weight: 400;
  transition: all 0.35s ease;
}

#coding.active {
  font-weight: 1000;
  transition: all 0.35s ease;
}

#photography.active {
  font-weight: 1000;
  transition: all 0.35s ease;
}

#hiking.active {
  font-weight: 1000;
  transition: all 0.35s ease;
}

#math.active {
  font-weight: 1000;
  transition: all 0.35s ease;
}

#chemistry.active {
  font-weight: 1000;
  transition: all 0.35s ease;
}

#physics.active {
  font-weight: 1000;
  transition: all 0.35s ease;
}

#audioEditing.active {
  font-weight: 1000;
  transition: all 0.35s ease;
}

#videoEditing.active {
  font-weight: 1000;
  transition: all 0.35s ease;
}

#piano.active {
  font-weight: 1000;
  transition: all 0.35s ease;
}

#creativeWriting.active {
  font-weight: 1000;
  transition: all 0.35s ease;
}

#all.active {
  font-weight: 1000;
  transition: all 0.35s ease;
}
